@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
body {
  font-family: "Gilroy";
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  background-image: url("/img/background-img_1.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: top;
  overflow: hidden;
  height: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__list .menu__item .menu__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #212d55;
  margin-right: 35px;
}
.menu__list .menu__item .menu__link:hover {
  color: #31bef4;
}

.header-wrapper {
  padding: 27px 0px 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-wrapper .contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.header-wrapper .contacts-link .contacts-link__tel {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #212d55;
}
.header-wrapper .contacts-link .contacts-link__tel:hover {
  color: #31bef4;
}
.header-wrapper .contacts-link .contacts-link__call {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #212d55;
  text-decoration: underline;
}
.header-wrapper .contacts-link .contacts-link__call:hover {
  color: #31bef4;
}

.navigation {
  border: 1px solid #31bef4;
  padding: 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("/img/background-img_nav.svg");
  background-position: center;
}

.about-us {
  text-align: center;
}
.about-us .about-us-title {
  margin-top: 20px;
  padding-top: 45px;
}
.about-us .about-us-title .about-us-title__name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 28px;
  color: #212d55;
}
.about-us .about-us-title .about-us-title__name .title-bold {
  font-weight: 700;
}
.about-us .about-us-title .about-us-title__address {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #212d55;
}
.about-us .about-us-title .about-us-title__prices {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
  color: #212d55;
}
.about-us .about-us-cost .btn-cost {
  width: 325px;
  height: 56px;
  padding: 15px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 0px #2cabdc;
          box-shadow: 0px 6px 0px #2cabdc;
  background-color: #31bef4;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 18px 0px 29px 0px;
}
.about-us .about-us-cost .btn-cost:hover {
  -webkit-box-shadow: 0px 4px 20px #0b91c5;
          box-shadow: 0px 4px 20px #0b91c5;
}
.about-us .about-us-cost .cost-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
}
.about-us .about-us-cost .cost-list .cost-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 221px;
  height: 132px;
  background: #f9fcfd;
  background-image: url("/img/cost_back.svg");
  background-position: center;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
  padding: 36px;
}
.about-us .about-us-cost .cost-list .cost-list__item:first-child {
  background-image: url("/img/cost_back_active.svg");
}
.about-us .about-us-cost .cost-list .cost-list__item .cost-list__item-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #212d55;
  padding-right: 10px;
}
.about-us .about-us-cost .cost-list .cost-list__item .cost-list__item-subtitle {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #212d55;
}

.title-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
  text-align: center;
  color: #212d55;
}

.swiper-wrapper-title {
  margin-top: 52px;
}

.swiper-section {
  background-image: url("/img/clouds.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
}
.swiper .swiper-wrapper {
  margin-top: 20px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.swiper .swiper-wrapper .swiper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 262px;
  height: 139px;
  background: #f9fcfd;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
}
.swiper .swiper-wrapper .swiper-item .swiper-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper .swiper-wrapper .swiper-item .swiper-item__content .content__image {
  max-width: 108px;
  width: 100%;
}
.swiper .swiper-wrapper .content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.swiper .swiper-wrapper .content__text .content__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #212d55;
  margin-bottom: 15px;
  padding-right: 25px;
}
.swiper .swiper-wrapper .content__text .content__subtitle {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #212d55;
}

.map-navigation {
  margin-top: 70px;
}
.map-navigation .map-navigation__title {
  padding-bottom: 60px;
}
.map-navigation .map-wrapper .map {
  width: 1447px;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.map-navigation .map-wrapper .map-wrapper-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-location .geolocation_item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-location .map-wrapper-location__element {
  position: relative;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-location .geolocation_item {
  top: 150px;
  right: 700px;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-location .pool_item {
  top: 100px;
  right: 450px;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-location .store_item {
  top: 100px;
  right: 550px;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-element__list {
  margin-top: 47px;
  margin-right: 41px;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-element__list .element__list {
  padding: 15px;
  width: 319px;
  height: 102px;
  background: #f9fcfd;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
  background-image: url("/img/location_map/element_list_map_bg.svg");
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-element__list .element__list .element__list_item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #212d55;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-element__list .element__list .element__list_item img {
  margin-left: 5px;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-element__list .element__list .element__list_item .active_icon {
  display: none;
}
.map-navigation .map-wrapper .map-wrapper-element .map-wrapper-element__list .element__list .element__list_item:hover {
  color: #31bef4;
}

.description-section {
  margin-top: 80px;
  text-align: center;
}
.description-section .description-section-cards {
  margin-top: 49px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.description-section .description-section-cards .cards-photo .cards-photo__bg {
  width: 193px;
  height: 102px;
  background-color: #f9fcfd;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
  background-image: url("/img/cards-photo-bg.svg");
}