@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

body {
    font-family: "Gilroy";
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper {
    background-image: url("/img/background-img_1_2.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: top;
    overflow: hidden;
    height: 100%;
}

.menu__list {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 1040px) {
        margin-top: 0px;
        justify-content: start;
        
    }
    .menu__item {
        margin-top: 20px;
        @media (min-width: 1040px) {
            margin-top: 0px;
            justify-content: center;
            display: flex;
        }
        .menu__link {
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #212d55;
            margin-right: 35px;
            
            &:hover {
                color: #31bef4;
            }
        }
    }
    @media (min-width: 425px) {
        display: flex;
    }
    
}
.menu__list_320px {
    display: block;
    align-items: center;
    padding: 60px 30px 40px 30px;
    p {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #656d89;
    }
    @media (min-width: 425px) {
        display: none;
    }
}
.header-wrapper {
    display: block;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 475px) {
        padding: 27px 0px 12px 0px;
    }
    @media (min-width: 990px) {
    display: flex;
    }

    .header-wrapper-element {
        margin: 0 auto;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media (min-width: 425px){
            padding: 15px;
        }
        @media (min-width: 1040px){
        padding: 0px;
        margin: 0px;
        }

        .popUp_wrapper {
            display: none;
            position: absolute;
            top: 23%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            max-width: 320px;
            width: 100%;
            height: 402px;
            background-color: #212d55;
            padding: 10px 15px 0px 12px;
           
            .popUp-icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .links-pop-Up {
                display: flex;
                flex-direction: column;
                align-items: end;
                margin-top: 13px;

                a {
                font-family: "Raleway";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #ffffff;
                margin-bottom: 30px;
                span {
                    margin-left: 5px;
                    color: #ffffff; 
                }
                }
                .contacts-link__call {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .popup {
            display: flex;
            justify-content: center;
            align-items: center;
            .popup__text {
                margin-right: 10px;
                font-family: "Gilroy";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 40px;
                color: #212d55;
                .popup__menu {
                    .open-popUp {
                        cursor: pointer;
                    }
                }
            }
            @media (min-width: 425px) {
                display: none;
            }
        }
    }

    .logo__img {
        img {
            width: 80%;
            @media (min-width: 321px) {
                width: 100%;
            }
        }
    }

    .contacts-link {
        display: none;
        text-align: center;
        margin-top: 40px;
        @media (min-width: 321px) {
            display: block;
        }
        @media (min-width: 990px) {
            margin-top: 0px;
        }

        .contacts-link__tel {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #212d55;
            &:hover {
                color: #31bef4;
            }
        }
        .contacts-link__call {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #212d55;
            text-decoration: underline;
            &:hover {
                color: #31bef4;
            }
        }
    }
    .contacts-link_pUp {
        
        text-align: center;
        

        .contacts-link__tel_pUp {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #212d55;
            margin-bottom: 20px;
            &:hover {
                color: #31bef4;
            }
        }
        .contacts-link__call_pUp {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #212d55;
            text-decoration: underline;
            &:hover {
                color: #31bef4;
            }
        }
    }
}
.navigation {
    display: none;
    border: 1px solid #31bef4;
    padding: 30px 30px;
    box-sizing: border-box;
    background-image: url("/img/background-img_nav.svg");
    background-position: center;
    @media (min-width: 960px) {
        display: block;
    }
}

.about-us {
    text-align: center;
    .about-us-title {
        margin-top: 0px;
        padding-top: 0px;
        @media (min-width: 321px) {
            margin-top: 20px;
            padding-top: 45px;
        }

        .about-us-title__name {
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 40px;
            margin-bottom: 28px;
            color: #212d55;
            .title-bold {
                font-weight: 700;
            }
            
            @media (min-width: 768px) {
                font-size: 28px;
            }
            @media (min-width: 990px) {
                font-size: 40px;
                line-height: 70px;
            }
        }
        .about-us-title__address {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #212d55;
            
            @media (min-width: 768px) {
                font-size: 32px;
                line-height: 38px;
                text-align: center;
            }
        }
        .about-us-title__prices {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #212d55;
            margin-top: 23px;
            @media (min-width: 768px) {
                font-size: 35px;
                line-height: 70px;
                margin-top: 0px;
            }
        }
    }

    .about-us-cost {
        .btn-cost {
            cursor: pointer;
            width: 290px;
            height: 56px;
            padding: 15px 10px;

            border-radius: 20px;
            box-shadow: 0px 6px 0px #2cabdc;
            background-color: #31bef4;
            color: #ffffff;
            font-family: "Raleway";
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 48px 0px 29px 0px;
            &:hover {
                box-shadow: 0px 4px 20px #0b91c5;
            }
            @media (min-width: 321px) {
                width: 325px;
                font-size: 22px;
                line-height: 26px;
                margin: 18px 0px 29px 0px;
            }
        }
    }
}
.cost-list {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-top: 12px;

    .cost-list__item {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        width: 221px;
        height: 132px;
        background: #f9fcfd;
        background-image: url("/img/cost_back.svg");
        background-position: center;
        box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
        border-radius: 10px;
        padding: 36px;
        &:hover {
            background-image: url("/img/cost_back_active.svg");
            background-color: #b4eaff;
        }

        .cost-list__item-title {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #212d55;
            padding-right: 10px;
        }
        .cost-list__item-subtitle {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #212d55;
        }
      
    }
}
.title-text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #212d55;
    margin-top: 30px;
    
    @media (min-width: 768px) {
        font-size: 45px;
        line-height: 70px;
    }
}

/////////////////////swipper////////////
.swiper-cost-container {
    max-width: 992px;
    margin: 0 auto;
}

.swiper-section {
    background-image: url("/img/clouds.svg");
    background-repeat: no-repeat;
    background-origin: content-box;

    .swiper-container {
        margin: auto;

        .swiper {
            .swiper-pagination-bullets {
            }
            .swiper-pagination-bullet-active {
                background: #31bef4;
            }

            .swiper-wrapper {
                margin-top: 20px;
                padding-top: 40px;

                .swiper-slide {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                }
                .swiper-item {
                    display: flex;

                    align-items: center;
                    margin-bottom: 30px;
                    width: 262px;
                    height: 139px;
                    background: #f9fcfd;
                    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
                    border-radius: 10px;
                    .swiper-item__content {
                        display: flex;
                        align-items: center;
                        .content__image {
                            max-width: 108px;
                            width: 100%;
                        }
                    }
                }
                .content__text {
                    display: flex;
                    flex-wrap: wrap;
                    // align-items: center;

                    .content__title {
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 26px;
                        color: #212d55;
                        margin-bottom: 15px;
                        padding-right: 25px;
                    }
                    .content__subtitle {
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        color: #212d55;
                    }
                }
            }
        }
    }
}

.map-navigation {
    margin-top: 70px;
    .map-navigation__title {
        line-height: 35px;
        padding: 0px 20px 60px 20px;
        @media (min-width: 321px) {
            line-height: 70px;
        }
    }
    .map-wrapper {
        .map-wrapper-location {
        }
        .map {
            width: 1447px;
            height: 700px;
            width: 100%;
            overflow: hidden;
        }
        .map-wrapper-element {
            margin-top: -663px;
            display: flex;
            justify-content: flex-end;
            .map-wrapper-location {
                .geolocation_item__box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .map-wrapper-location__element {
                    position: relative;
                }
                 
            }

            .map-wrapper-element__list {
                position: sticky;
                margin-top: 47px;
                margin-right: 0px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media (min-width: 321px) {
                    margin-right: 41px;
                }

                .element__list {
                    
                    display: flex;
                    padding: 15px;
                    width: 319px;
                    height: 102px;
                    background: #f9fcfd;
                    box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
                    border-radius: 10px;
                    margin-bottom: 15px;
                    background-image: url("/img/location_map/element_list_map_bg.svg");

                    @media (min-width:768px) {
                        
                    }
                    .element__list_item {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                        color: #212d55;
                        img {
                            margin-left: 5px;
                        }
                       
                    }
                }
                .element__list:nth-child(+n + 3) {
                    visibility: hidden;
                    @media (min-width: 768px) {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.description-section {
    margin-top: 80px;
    text-align: center;
    .description-section__subtitle {
        text-align: center;
        line-height: 22px;
        margin: 30px 0px 30px 0px;
    }
    .description-section-cards {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @media (min-width: 769px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .cards-photo {
            display: flex;
            cursor: pointer;
            color: #212d55;
            &:hover {
                color: #31BEF4;
            }
            .cards-photo__bg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 290px;
                height: 71px;
                background-color: #f9fcfd;
                box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
                border-radius: 10px;
                background-image: url("/img/cards-photo-bg.svg");
                background-size: contain;
                background-origin: content-box;
                background-position: center;
                background-repeat: no-repeat;
                @media (min-width: 321px) {
                    width: 193px;
                    height: 102px;
                }

                .cards-photo__bg-text {
                    font-family: "Gilroy";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    
                }
                .cards-photo__bg-active {
                    background-image: url("/img/cards-photo-bg_active.svg");
                }
                .cards_active {
                    color:#31BEF4
                }
            }
        }
    }
    .description-section-photo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 1140px) {
            justify-content: space-between;
        }
        margin-top: 60px;
        .section-photo__left {
            background-image: url("/img/section-photo/image_1.svg");
            background-repeat: no-repeat;
            background-position: center;
            max-width: 848px;
            width: 100%;
            padding: 140px 27px 54px 27px;
            .section-photo__left__text {
                overflow: auto;
                max-width: 538px;
                height: 266px;
                padding: 25px 20px;
                box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
                border-radius: 10px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 79.17%, rgba(208, 208, 208, 0.85) 94.79%);
                @media (min-width: 321px) {
                    background: rgba(255, 255, 255, 0.85);
                    height: 378px;
                }

                .section-photo-left-text-title {
                    text-align: start;
                    font-family: "Gilroy";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;
                    color: #212d55;
                }
                .section-photo-left-text-subtitle {
                    text-align: left;
                    font-family: "Gilroy";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    margin-top: 30px;
                    color: #656d89;
                }
            }
        }
        .section-photo__rigth {
            display: flex;
            justify-content: space-between;

            @media (min-width: 321px) {
                flex-direction: column;
            }
            @media (min-width: 475px) {
                flex-direction: row;
            }
            @media (min-width: 1140px) {
                flex-direction: column;
            }
            img {
                width: 45%;
                margin-bottom: 0px;
                padding: 15px;
                &:last-child {
                    margin-bottom: 0px;
                    display: none;
                    @media (min-width: 321px) {
                        display: block;
                    }
                }
                @media (min-width: 321px) {
                    width: 100%;
                }
                @media (min-width: 960px) {
                    width: 100%;
                }

                @media (min-width: 1140px) {
                    padding: 0px;
                }
            }
        }
    }
}
//////footer////
.footer-wrapper {
    margin-top: 64px;
    background-color: #f9fcfd;
    .footer-container {
        padding: 50px 0 50px 0;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 325px) {
            margin-bottom: 50px;
        }
        @media (min-width: 1140px) {
            justify-content: end;
        }

        .fill-form__title-box {
            max-width: 556px;
            width: 100%;
            margin-top: 46px;
            margin-bottom: 25px;
            .fill-form__title {
                text-align: center;
                font-family: "Gilroy";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #31bef4;
            }
        }

        .footer-title {
            padding: 0px 20px 0px 20px;
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 35px;
            text-align: center;
            color: #212d55;
            @media (min-width: 321px) {
                font-size: 30px;
                line-height: 40px;
                padding: 0px 126px 0px 126px;
            }
            @media (min-width: 990px) {
                font-size: 40px;
                line-height: 50px;
            }
        }

        .footer-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .footer-form__call-us {
                max-width: 371px;

                .call-us {
                    border-bottom: 1px #31bef4;
                    border-style: dotted;

                    @media (min-width: 321px) {
                        border-bottom: 0px;
                    }
                    .call-us__title {
                        margin-top: 63px;
                        margin-bottom: 20px;
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 27px;
                        text-align: center;
                        color: #212d55;
                        @media (min-width: 321px) {
                            font-size: 22px;
                        }
                    }
                    .call-us__tel {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .call-us__tel__number {
                            padding-bottom: 12px;
                            a {
                                font-family: "Gilroy";
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 30px;
                                color: #212d55;
                            }
                        }
                    }
                }
            }
            .footer-form-sending {
                padding-top: 15px;
                margin-top: 10px;
                border: 0px;

                @media (min-width: 321px) {
                    padding-top: 106px;
                    border-left: 1px #31bef4;
                    border-style: dotted;
                    box-sizing: border-box;
                    margin-top: 0px;
                }

                .or_form_text {
                    max-width: 200px;
                    margin-left: 0px;
                    text-align: center;
                    font-family: "Gilroy";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #212d55;
                    @media (min-width: 321px) {
                        max-width: 114px;
                        margin-left: 25px;
                    }
                }
            }
            .fill-form {
                margin-top: 30px;
                margin-left: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (min-width: 321px) {
                    margin-top: 0px;
                    margin-left: 71px;
                }

                .fill-form__fields {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    max-width: 556px;
                    @media (min-width: 321px) {
                        justify-content: space-between;
                    }
                    .fill-form__fields__item {
                        background-image: url("/img/field_footer_bg.svg");

                        width: 267px;
                        height: 92px;
                        display: flex;
                        padding-left: 25px;
                        padding: 15px 0px 15px 30px;
                        color: #2cabdc;
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: #a8abb7;
                        input[type="text"] {
                            width: 100%;
                            display: inline-block;
                            border: none;
                            height: 62px;
                           
                        }
                    }
                    .fields__button-footer {
                        width: 267px;
                        height: 92px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .button_footer {
                            .btn-footer {
                                cursor: pointer;
                                width: 241px;
                                height: 56px;
                                padding: 15px 20px;
                                border-radius: 20px;
                                -webkit-box-shadow: 0px 6px 0px #2cabdc;
                                box-shadow: 0px 6px 0px #2cabdc;
                                background-color: #31bef4;
                                color: #ffffff;
                                font-family: "Gilroy";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 22px;
                                line-height: 27px;
                                &:hover {
                                    box-shadow: 0px 4px 20px #0b91c5;
                                }
                            }
                        }
                    }

                    .checkbox-footer {
                        margin: 0 auto;

                        .checkbox-footer__text {
                            margin-top: 25px;

                            .checkbox-footer__text-check {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                img {
                                    background: #ffffff;
                                    box-shadow: 0px 4px 13px rgba(34, 34, 34, 0.15);
                                    border-radius: 5px;
                                }
                            }
                            .checkbox_text {
                                font-family: "Gilroy";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                color: #212d55;
                                padding-left: 5px;
                            }
                            .checkbox-footer__text-link {
                                font-family: "Gilroy";
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 17px;
                                color: #31bef4;
                            }
                        }
                    }
                }
            }
        }
    }
}
